/*Start Global Components */
:not(i)::before,
:not(i)::after {
  position: absolute;
  content: "";
}
.col {
  position: relative;
  width: 50%;
  height: 100%;
}
h2,
p {
  color: var(--font-main-color);
}
img {
  width: 100%;
}
/*End Global Components */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}
/* *:hover { border:1px solid #CD1821 } */
:root {
  --bg-main-color: #f7f8f2;
  --font-main-color: #0b1e5b;
  --btn-est-color: #eff1e5;
  --section-bg-color: #e7e7fd;
  --overlay-bg-color: #7e84e6;
}
html {
  scroll-padding: 0;
  scroll-behavior: smooth;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  display: none;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #0b1e5b 0%, #0b1e5b 99%);
  border-radius: 100px;
}
body {
  font-family: "twk lausanne", sans-serif;
  background-color: var(--bg-main-color);
}
.container {
  margin: 0 auto;
  position: relative;
}
.grid {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  section:not(.roll-animation) {
    padding: 60px 0 0 0 !important;
  }
  .container {
    /* width: 412px; */
  }
  .container,
  .footer .container,
  .hero .container {
    padding: 0 10px 20px !important;
  }
  .grid {
    flex-direction: column;
  }
  .col {
    width: 100%;
    padding: 0 20px;
  }
  .right-col {
    order: 2;
  }
  .left-col {
    order: 1;
  }
  nav .nav_items {
    display: none !important;
  }
  .header-c {
    padding: 0 5px !important;
  }
  .hero .video_c {
    width: 162px;
    height: 248px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    padding: 80px 120px;
    max-width: 1600px;
  }
  .hero .container {
    padding: 25px 100px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) {
}

header {
  position: sticky;
  inset: 0;
  z-index: 10;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
.hide-header {
  top: -100px;
  opacity: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.header-c {
  padding: 0 100px;
}
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.nav_bar * {
  display: inline-block;
}
.nav_bar span {
  color: var(--font-main-color);
}
.nav_list .logo {
  color: var(--font-main-color);
  font-weight: 400;
  font-size: 2rem;
  padding-left: 0;
}
.nav_list .nav_items {
  display: inline-block;
  font-weight: 400;
  margin: auto 0;
}
.nav_list a {
  padding: 0 25px;
}
.dropdown_menu {
  display: none;
  /* background: white;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%); */
}
.dropdown_menu span {
  padding: 10px 10px;
}
.d-btn {
  position: relative;
  width: 149px;
  height: 55px;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--font-main-color);
  display: grid;
  place-items: center;
}
.d-btn:hover::before {
  -webkit-animation: btn-hover 0.5s both;
  animation: btn-hover 0.5s both;
}
.d-btn::before {
  inset: 0;
  background-image: url(../assets/svg/btn-bg.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
@-webkit-keyframes btn-hover {
  0% {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(1.05, 0.95, 1);
  }
  80% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes btn-hover {
  0% {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(1.05, 0.95, 1);
  }
  80% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/* Start Main */
main {
  overflow: hidden;
}
section {
  width: 100%;
  padding: 80px 0;
  /* scroll-snap-align: start; */
  /* scroll-snap-stop: always; */
}
/* Start hero section */
.hero .grid {
  text-align: left;
}
.hero_header_text {
  opacity: 1;
}
.hero .right_c .hero_header_text h1 {
  font-size: 72px;
  font-weight: 300;
  line-height: 102%;
}
.hero .hero_header_text h1 span {
  display: block;
}
.hero .hero_text {
  padding: 24px 0px 0px;
  font-size: 26px;
  font-weight: 250;
  line-height: 35px;
  max-width: 410px;
}
.hero_btn_c {
  margin-top: 24px;
  display: flex;
}
.hero_btn {
  padding: 15px 30px;
  border-radius: 50vw;
  min-width: 150px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: white;
  z-index: 4;
}
.hero_btn:first-child {
  margin-right: 15px;
}
.hero_btn span {
  display: inline-block;
  vertical-align: middle;
  color: #0b1e5b;
  transition: 1s;
}
.hero_btn .logo {
  margin-right: 15px !important;
}
.hero_btn .logo i {
  margin-top: -4px;
}
.btn_title {
  text-align: left;
  letter-spacing: 0.02rem;
  font-size: 16.8px;
}
.btn_title b {
  font-size: 14.4px;
  font-weight: lighter;
  opacity: 0.5;
}
.btn_title span {
  font-weight: bold;
}
.hero_btn::before {
  z-index: -1;
  width: 5px;
  height: 5px;
  top: -50%;
  right: -60%;
  border-radius: 50%;
  background-color: #0b1e5b;
  transition: 1s ease-in-out;
}
.hero_btn:hover::before {
  background-color: #0b1e5b;
  width: 500px;
  height: 500px;
}
.hero_btn:hover span {
  color: white;
}
.hero-video {
  display: flex;
  justify-content: end;
  transform: translateY(14px);
  -webkit-transform: translateY(14px);
  -moz-transform: translateY(14px);
  -ms-transform: translateY(14px);
  -o-transform: translateY(14px);
}
.video_c {
  width: 307px;
  height: 469px;
  border-radius: 50vw;
  background-color: #0b1e5b;
  overflow: hidden;
}
.hero-video .top-video {
  transform: translateY(-25%);
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -o-transform: translateY(-25%);
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-img {
  max-width: 300px;
  position: absolute;
  top: 85%;
  right: 0;
}
.hero-img img {
  width: 100%;
}
@media (max-width: 576px) {
  .hero_btn{
    padding: 10px 15px;
  }
  .hero_btn .logo i{
    font-size: 25px;
  }
  .btn_title b {
    font-size: 9px;
  }
  .btn_title span {
    font-size: 12px;
  }
  .hero-video {
    justify-content: center;
  }
  .hero-img {
    display: none;
  }
  .hero_btn .logo {
    margin-right: 10px !important;
}
}
/* End hero */
/* Start Roll */
.roll-animation {
  padding: 90px 0 135px;
  overflow: hidden;
}
.roll-items {
  display: flex;
  rotate: -3deg;
  animation: 10s linear 0s infinite list-roll;
  -webkit-animation: 10s linear 0s infinite list-roll;
}
.roll-item {
  display: inline-block;
  padding: 24px 36px;
  background-color: #e7e7fd;
  font-size: 2rem;
  border-radius: 70vw;
  -webkit-border-radius: 70vw;
  -moz-border-radius: 70vw;
  -ms-border-radius: 70vw;
  -o-border-radius: 70vw;
}
@keyframes list-roll {
  0% {
    transform: translate3d(0, 0px, 0px);
    -webkit-transform: translate3d(0, 0px, 0px);
    -moz-transform: translate3d(0, 0px, 0px);
    -ms-transform: translate3d(0, 0px, 0px);
    -o-transform: translate3d(0, 0px, 0px);
  }
  100% {
    transform: translate3d(-1000px, 0px, 0px);
    -webkit-transform: translate3d(-1000px, 0px, 0px);
    -moz-transform: translate3d(-1000px, 0px, 0px);
    -ms-transform: translate3d(-1000px, 0px, 0px);
    -o-transform: translate3d(-1000px, 0px, 0px);
  }
}
@media (max-width: 576px) {
  .roll-animation {
    padding: 60px 0 35px;
    overflow: hidden;
  }
  .roll-items {
    rotate: -5deg;
  }
  .roll-item {
    font-size: 18px;
    padding: 9px 16px 11px;
  }
}
/* End Roll */
/* Start Testimonial */
.testimonials {
  position: relative;
  margin: 0 !important;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.testimonials .container {
  height: 100vh;
}
.testimonials::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.testimonials .grid {
  padding: 80px 0;
}
.testimonials .grid::before {
  top: -50%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 1600px;
  height: 100%;
  background-color: #e7e7fd;
  border-radius: 5vw;
}
.testimonial-col {
  display: flex;
  color: #0b1e5b;
}
.testimonials .left-col {
  align-items: center;
  text-align: left;
}
.testimonial-col .tags-list span {
  padding: 10px 25px;
  font-size: 22px;
  font-weight: 500;
  background-color: white;
  border-radius: 50vw;
}
.right-col .header {
  margin: 0 0 25px 0;
}
.right-col .content {
  max-width: 460px;
  margin: auto 0;
}
.right-col .header h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 117%;
}
.right-col h2 span {
  display: block;
}
.right-col .description p {
  font-size: 22px;
  line-height: 141%;
}
.tags-list {
  position: absolute;
  top: 15px;
}
.testimonials .left-col {
  position: relative;
}
.testimonials .video-c {
  width: 424px;
  max-height: 596px;
  border-radius: 50vw;
  overflow: hidden;
  margin: 0 auto;
}
.testimonials .container:nth-child(3) .video-c {
  width: 598px;
  height: 388px;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
  position: absolute;
  padding: 16px 26px;
  background: white;
  border-radius: 1vw;
  top: 40px;
}
.card .card-title {
  margin-bottom: 17px;
}
.card .card-title span {
  display: block;
  font-weight: 600;
}
.card .card-title span:first-child {
  opacity: 0.5;
  font-size: 11px;
  margin-bottom: 3px;
}
.card .card-title span:nth-child(2) {
  font-size: 24px;
}
.card .card-title span:nth-child(3) {
  opacity: 0.4;
  font-size: 10px;
}
.card span strong {
  margin-left: 5px;
  color: green;
  opacity: 1 !important;
}
.card .card-tags .tag {
  display: inline-block;
  width: 70px;
  font-size: 9px;
  font-weight: 600;
  padding: 9px 0;
  border-radius: 1vw;
  text-align: center;
  color: var(--font-main-color);
}
.card .card-tags .tag.v1 {
  background-color: #ece7fd;
}
.card .card-tags .tag.v2 {
  background-color: #e8f2cf;
}
.card .nums span {
  font-size: 11px;
}
.card .nums span:last-child {
  color: #b9db62;
}
.img-card {
  position: absolute;
  bottom: 40px;
  right: 30px;
  background: white;
  border-radius: 1vw;
  padding: 18px;
  min-width: 179px;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
}
.img-card img {
  width: 100%;
}
.card-icon {
  max-width: 33px;
  margin: 0 0 23px auto;
}
.card-logo {
  max-width: 88px;
}
.testimonials .v3 {
  background-color: var(--font-main-color);
  color: white;
}
.testimonials .v3I {
  right: 0;
}
.testimonials .v3II {
  /*top...right...bottom...left*/
  inset: auto auto 15% 10%;
  display: flex;
  align-items: center;
  gap: 5rem;
  border-radius: 50vw;
  -webkit-border-radius: 50vw;
  -moz-border-radius: 50vw;
  -ms-border-radius: 50vw;
  -o-border-radius: 50vw;
}
.testimonials .v3II .title {
  font-size: 13px;
  letter-spacing: 0.01em;
  font-weight: 650;
}
@media (max-width: 576px) {
  .testimonials {
    height: auto;
    overflow-y: unset;
    overflow: visible;
  }
  .testimonials .container{
    height: 100%;
  }
  .testimonials .grid::before {
    width: 100%;
    height: 100%;
  }
  .testimonials article {
    margin: 0 0 40px 0;
  }
  .testimonials .video-c {
    max-width: 175px;
    max-height: 246px;
  }
  .img-card {
    padding: 5px 9px 11px 7px;
    min-width: 105px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  .img-card .card-icon {
    max-width: 17px;
    margin: 0 0 14px auto;
  }
  .img-card .card-logo {
    max-width: 51px;
  }
  .testimonials .left-col .card{
    padding: 8px 10px;
    left: auto; 
  }
  .card .card-title {
    margin-bottom: 5px;
}
  .card .card-title span:first-child{
    font-size: 4px;
  }
  .card .card-title span:nth-child(2) {
    font-size: 12px;
  }
  .card .card-tags .tag{
    padding: 3px 0;
    font-size: 5px;
    width: 40px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
  }
  .tags-list{
    display: none;
  }
  .right-col .header h2{
    font-size: 25px;
    font-weight: 500;
  }
  .right-col h2 span {
    display: inline;
  }
  .right-col .description p{
    font-size: 14px;
  }
  .right-col .content{
    margin: 20px 0;
  }
  .testimonials .v3I{
    right: 30px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
  .testimonials .v3II{
    font-size: 9px;
    gap: 1rem;
  }
}
/* End Testimonial */
/* Start Screenshot */
.screenshot {
  position: relative;
}
.screen-header {
  padding-right: 200px;
  width: fit-content;
  margin-left: auto;
}
.screen-header h2 {
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 117%;
}
.screen-header p {
  font-size: 22px;
  line-height: 141%;
}
.screen-img {
  margin: 120px 0 0 0;
  width: 100%;
  height: 772px;
  position: relative;
}
.screen--img {
  display: grid;
  place-items: center;
  border-radius: 3vw;
  overflow: hidden;
}
.screen-img img {
  object-fit: cover;
}
.screen-tags {
  position: absolute;
  z-index: 2;
  isolation: isolate;
  inset: 0;
}
.screenshot .tags-c {
  position: relative;
  width: 100%;
  height: 100%;
}
.screenshot .tag {
  position: absolute;
  width: 72px;
  height: 96px;
  background: #fff;
  border-radius: 30vw;
  box-shadow: 0 2px 20px rgb(63 66 57 / 9%);
}
.screenshot .tag img {
  object-fit: cover;
}
.screen-tags .-t1 {
  top: 30%;
  left: 250px;
}
.screen-tags .-t2 {
  right: 520px;
  top: 45%;
}
.screen-tags .-t3 {
  top: 88%;
  left: 470px;
}
.screen-tags .-t4 {
  left: 70%;
  bottom: 15%;
}
.screen-tags .-t5 {
  top: 5%;
  left: 565px;
}
@media (max-width: 576px) {
  .screen-img {
    margin: 40px 0 0 0;
    height: auto;
  }
  .screen-header {
    padding-right: 0;
    margin: 0 0 0 0;
  }
  .screen-header h2 {
    font-size: 24px;
  }
  .screen-header p {
    font-size: 16px;
  }
  .screenshot .tag {
    width: 39px;
    height: 52px;
  }
  .screen-tags .-t1 {
    top: 40%;
    left: 250px;
  }
  .screen-tags .-t2 {
    top: 55%;
    left: 75px;
  }
  .screen-tags .-t3 {
    top: 95%;
    left: 75px;
  }
  .screen-tags .-t4 {
    left: 62%;
    bottom: 6%;
  }
  .screen-tags .-t5 {
    top: 10%;
    left: 338px;
  }
}
/* End Screenshot */
/* Start OfferContent */
.offer-content {
  padding-bottom: 0 !important;
}
.offer-figure {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
.offer-images {
  position: relative;
  padding-bottom: 50%;
}
.offer-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.offer-images img {
  position: absolute;
  inset: 0;
}
.offer-img.v1 img {
  animation: myAnim 2s ease-in-out 1s infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation: myAnim 2s ease-in-out 1s infinite;
}
@keyframes myAnim {
  0% {
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
  }
  50% {
    transform: translate3d(0, -45px, 0);
    -webkit-transform: translate3d(0, -45px, 0);
    -moz-transform: translate3d(0, -45px, 0);
    -ms-transform: translate3d(0, -45px, 0);
    -o-transform: translate3d(0, -45px, 0);
  }
  100% {
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
  }
}
.offer-tags {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 300px;
  text-align: start;
}
.offer-tags span {
  display: inline-block;
  padding: 9px 16px 11px 16px;
  margin: 0 10px 10px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 1vw;
  background-color: var(--bg-main-color);
  box-shadow: 0 3px 8px rgb(53 49 72 / 8%);
}
.offer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 4px;
  overflow: hidden;
  border-radius: 0.5vw;
  z-index: 1;
  width: 220px;
  height: 190px;
  background: var(--bg-main-color);
  box-shadow: 0 3px 11px rgb(53 49 72 / 9%);
  color: var(--font-main-color);
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
}
.offer-card .offer-card-stats {
  text-align: left;
  width: 50%;
}
.offer-card span {
  position: relative;
  display: block;
  font-weight: 700;
  color: var(--font-main-color);
  margin: 0 0 8px 0;
  padding-left: 14px;
  font-size: 14px;
}
.offer-card-stats .card-stat::before {
  width: 5px;
  height: 5px;
  top: 50%;
  left: 0;
  padding-right: 5px;
  border-radius: 50vw;
  -webkit-border-radius: 50vw;
  -moz-border-radius: 50vw;
  -ms-border-radius: 50vw;
  -o-border-radius: 50vw;
}
.card-stat.v1:before {
  background: #9178f5;
}
.card-stat.v2:before {
  background: #b5d269;
}
.card-stat.v3:before {
  background: #ff96a5;
}
.card-stat.v4:before {
  background: #7476f2;
}
.card-stat.v5:before {
  background: #cfd62e;
}
.offer-card .card-stat-info {
  position: relative;
  width: 50%;
  vertical-align: middle;
}
.offer-card .card-stat-info span {
  position: absolute;
  font-size: 16px;
  letter-spacing: -0.01em;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.offer-card figure {
  position: relative;
  translate: 30%;
  margin: auto 0;
}
.offer-content {
  text-align: center;
}
.offer-header {
  width: 60%;
  margin: 100px auto 25px auto;
}
.offer-header h2 {
  font-size: 60px;
  line-height: 107%;
}
.offer-description {
  width: 40%;
  margin: 0 auto;
}
.offer-description p {
  font-size: 22px;
  line-height: 141%;
}
.offer-btn {
  margin: 44px 0 0 0;
}
@media (max-width: 576px) {
  .offer-tags {
    width: 160px;
    top: -10%;
  }
  .offer-tags span {
    padding: 4px 8px 5px;
    margin: 0 4px 4px 0;
    font-weight: 650;
    font-size: 8px;
  }
  .offer-card .card-stat {
    margin: 0 0 3px;
    padding-left: 6px;
    font-size: 8px;
    font-weight: 450;
  }
  .offer-card-stats .card-stat::before {
    width: 3px;
    height: 3px;
    padding-right: 0;
  }
  .offer-card {
    top: -10%;
    right: 0;
    width: 120px;
    height: 90px;
    padding-left: 11px;
    padding-right: 4px;
  }
  .offer-figure {
    width: 100%;
  }
  .offer-header {
    margin: 33px auto 26px;
    width: 340px;
  }
  .offer-header h2 {
    font-size: 29px;
    line-height: 125%;
  }
  .offer-description {
    width: auto;
  }
  .offer-description p {
    font-size: 18px;
    line-height: 145%;
    font-weight: 250;
  }
  .offer-card .card-stat-info span{
    font-size: 12px;
  }
}
/* End OfferContent */
/* Start contact */
.contact .container::before {
  background: #e7e7fd;
  height: 549px;
  right: 0;
  left: 0;
  border-radius: 50vw;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.contact .grid {
  text-align: left;
}
.contact .grid .left-col {
  padding-left: 176px;
}
.contact-header h2 {
  font-size: 48px;
  line-height: 117%;
  font-weight: 500;
}
.contact-description {
  font-size: 22px;
  line-height: 141%;
}
.contact-email {
  display: flex;
  align-items: center;
  margin: 60px 0 0 0;
}
.contact-email .contact-item {
  margin: 0 40px 0 0;
  display: flex;
}
.contact-icon {
  margin: 0 20px 0 0;
}
.contact-icon i {
  display: block;
  width: 100%;
  height: 100%;
}
.contact-item .contact-text {
  text-align: left;
}
.contact-text span {
  display: block;
  font-size: 20px;
  font-weight: 350;
  margin-bottom: 5px;
}
.contact-text a {
  text-decoration: none;
  color: #4e50f4 !important;
}
.contact figure {
  position: relative;
  width: 547px;
  margin-right: 90px;
}
.contact figure .img-c {
  width: 100%;
}
.contact figure .img-c img {
  width: 100%;
}
@media (max-width: 576px) {
  .contact-header {
    margin-bottom: 15px;
  }
  .contact-header h2 {
    font-size: 25px;
    line-height: 148%;
    font-weight: 500;
    margin: 0 auto;
  }
  .contact-description {
    font-size: 16px;
  }
  .contact figure {
    width: 240px;
    margin: 0 auto;
  }
  .contact .right-col {
    order: 1 !important;
  }
  .contact .left-col {
    order: 2 !important;
    padding-left: 0 !important;
  }
  .contact-text span {
    font-size: 12px;
  }
  .contact .container::before {
    border-top-left-radius: 50vw;
    border-top-right-radius: 50vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .contact-icon{
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .contact-header {
    max-width: 90%;
    margin: 0 0 20px 0;
  }
}
/* End contact */
/* Start Overview */
.overview .grid {
  align-items: start;
}
.overview .right-col figure {
  width: 464px;
  height: 596px;
}
.overview .header {
  font-size: 210px;
  font-weight: normal;
  margin: 0 0 95px 0;
  padding-left: 80px;
}
.overview-description {
  max-width: 422px;
  font-size: 22px;
  line-height: 172%;
  font-weight: 250;
  margin: 0;
  text-align: left;
}
.overview-scroll {
  overflow: hidden;
}
.scroll-bar {
  display: flex;
  overflow-x: scroll;
  align-items: baseline;
  height: 500px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.scroll-bar::-webkit-scrollbar {
  display: none;
}
.scroll-bar .card {
  position: relative;
  background: none;
  display: flex;
  flex-direction: column;
  margin: 0 4rem 0 0;
  padding: 0 !important;
  clear: both;
}
.scroll-bar .card:last-child{
  margin-right: 0;
}
.scroll-bar figure {
  width: 372px;
  height: 330px;
  border: 1px solid var(--overlay-bg-color);
  border-radius: 1vw;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
}
.scroll-bar .card .card-title {
  padding-right: 20px;
  margin: 30px 0 0;
  font-size: 22px;
  font-weight: 300;
}
@media (max-width: 576px) {
  .overview .header {
    font-size: 50px;
    padding: 0;
    margin: 0 0 40px 0;
  }
  .overview .right-col {
    order: 1;
  }
  .overview .right-col figure {
    width: 281px;
    height: 361px;
    margin: 0 0 60px;
  }
  .overview .left-col {
    order: 2;
  }
  .scroll-bar figure{
    width: 280px;
    height: 345px;
    display: grid;
    place-items: center;
  }
}
/* End Overview */
/* Start footer */
.footer {
  padding: 80px 0;
}
.footer .container {
  padding: 0 120px;
}
.footer .grid {
  justify-content: space-between;
  align-items: start;
}
.footer .logo {
  width: 167px;
  height: 45px;
  margin: 0 0 30px 0;
}
.footer .logo svg {
  width: 100%;
  height: 100%;
}
.footer .social {
  display: flex;
}
.footer .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-main-color);
  overflow: hidden;
  font-size: 16px;
  border: 1px solid;
  border-color: var(--font-main-color);
  border-radius: 30px;
  padding: 14px 26px;
  margin-right: 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.footer .icon::before {
  width: 0;
  height: 0;
  border-radius: 50vw;
  background-color: var(--font-main-color);
  -webkit-border-radius: 50vw;
  -moz-border-radius: 50vw;
  -ms-border-radius: 50vw;
  -o-border-radius: 50vw;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.footer .icon:hover::before {
  height: 100%;
  width: 100%;
}
.footer .icon:hover {
  color: white;
}
.footer .icon:hover i {
  z-index: 2;
}
.footer-lists {
  text-align: left;
  display: flex;
}
.footer-list {
  padding: 0 50px;
}
.footer-list:first-child{
  padding-left: 0;
}
.ft-list-header {
  margin: 0px 0px 30px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 350;
}
.ft-list-item {
  padding: 0 0 6px 0;
  margin: 0 0 20px 0;
  font-size: 20px;
  line-height: 22px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(78, 80, 244) !important;
  cursor: pointer;
}
.ft-list-item:hover {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
}
.footer-brief {
  margin: 85px 0 0 0;
  padding: 90px 0 0 0;
  text-align: left;
  border-top: 1px solid rgba(11, 30, 91, 0.158);
}
.footer-brief p {
  font-size: 16px;
  margin: 0 0 20px 0;
  letter-spacing: 0.02em;
  line-height: 145%;
  font-weight: 300;
  opacity: 0.5;
}
@media (max-width: 576px) {
  .footer .social {
    margin: 0 0 40px 0;
  }
  .footer-list {
    padding: 0 20px;
  }
  .ft-list-header {
    margin: 0 0 20px;
    font-size: 14px;
  }
  .ft-list-item {
    font-size: 14px;
  }
  .footer-brief{
    margin: 35px 0 0 0;
    padding: 35px 0 0 0;
  }
}
/* End footer */
